<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".project_one.controller.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".example.jenunagil.myfirstapp.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".project_one.controller.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".project_one.controller.LoginActivity" />
        </activity>
        <activity
            android:name=".project_one.controller.RoleActivity"
            android:label="@string/title_activity_role"
            android:parentActivityName=".project_one.controller.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".project_one.controller.LoginActivity" />
        </activity>
        <activity
            android:name=".project_one.controller.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName=".project_one.controller.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".project_one.controller.LoginActivity" />
        </activity>
        <activity
            android:name=".project_one.controller.HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".project_one.controller.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".project_one.controller.LoginActivity" />
        </activity>
        <activity
            android:name=".project_one.controller.CategoryActivity"
            android:label="@string/title_activity_category"
            android:parentActivityName=".project_one.controller.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".project_one.controller.LoginActivity" />
        </activity>
        <activity
            android:name=".project_one.controller.ProductActivity"
            android:label="@string/title_activity_product" >
        </activity>
        <activity
            android:name=".project_one.controller.api.v1.fragment.product.ProductViewPagerActivity"
            android:label="@string/title_activity_product_view_pager" >
        </activity>
    </application>

</manifest>
